@{
    ViewData["Title"] = "Home Page";

    var product = new Product()
    {
        Id = 1,
        Name = "Silgi",
        Price = 100,
        Stock = 10
    };
}

@section Css{
    <link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />
    
    <style>
        h1 {
            background-color: orangered;
        }
    </style>
}

<div class="row mb-3">
    <product-show product="@product"></product-show>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">    
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.productListPartialViewModel"/>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">

        @* @await Component.InvokeAsync("ProductList",new {type = 1}) *@
        <vc:product-list type="1"></vc:product-list>

    </div>

    <div class="col-md-4">

        @* @await Component.InvokeAsync("ProductList",new {type = 2}) *@
        <vc:product-list type="2"></vc:product-list>

    </div>
</div>

<div class="mt-5">
    <italic>Asp.Net Core</italic>
</div>

<div class="mt-3">

    <img src="/images/car.jpg" />
            
</div>

<div class="mt-3">

    <image-thumbnail image-src="/images/car.jpg"></image-thumbnail>

</div>

@section Scripts{
    <script>
        //alert("Hello World!");
        /*
        $(document).ready(function () {
            alert("Hello World!");
        });
        */
    </script>
}