@{
    ViewData["Title"] = "Home Page";
}

@section Css{
    <link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />
    
    <style>
        h1 {
            background-color: orangered;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">    
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.productListPartialViewModel"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

        @await Component.InvokeAsync("ProductList",new {type = 1})

    </div>

    <div class="col-md-4">

        @await Component.InvokeAsync("ProductList",new {type = 2})

    </div>
</div>

@section Scripts{
    <script>
        //alert("Hello World!");
        /*
        $(document).ready(function () {
            alert("Hello World!");
        });
        */
    </script>
}