
@{
    ViewData["Title"] = "RenderSection";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}

<h1>Hello World!</h1>

@section header
{
    <p>Bu kodlar Header'ın içerisine eklenecek</p>
}

@section footer
{
    <p>Bu kodlar Footer'ın içerisine eklenecek</p>
}
