@{
    ViewData["Title"] = "Add";
}

<h1>Ürün Ekleme</h1>

@model ProductViewModel

<form asp-controller="Products" asp-action="Add" method="post" >

    <div class="mb-3">
        <label class="form-label" asp-for="Name">Ürün ismi :</label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Price">Ürün fiyatı :</label>
        <input class="form-control" asp-for="Price" />
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Stock">Ürün stoku :</label>
        <input class="form-control" asp-for="Stock" />
    </div>

    <div class="mb-3">
        <label class="form-label">Ürün rengi :</label>
        <select class="form-select" asp-items="@ViewBag.ColorSelect" asp-for="Color">
            <option selected>Open this select menu</option>
        </select>
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="IsPublish">
        <label class="form-check-label" asp-for="IsPublish">
            Yayınlansın mı ?
        </label>
    </div>

    @foreach (var item in ViewBag.DictionaryExpire as Dictionary<string, int>)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Expire-@(item.Value)" asp-for="Expire" value=@item.Value>
            <label class="form-check-label" for="Expire-@(item.Value)">
                @item.Key
            </label>
        </div>
    }
    
    <div class="form-floating mt-3">
        <textarea class="form-control" style="height: 100px" asp-for="Description"></textarea>
        <label class="form-control" asp-for="Description">Ürün Açıklaması</label>
    </div>

    <div class="mt-3">
        <label class="form-label">Ürün yayınlanma tarihi :</label>
        <input class="form-control" asp-for="PublishDate">
    </div>


    <br/>

    <button class="btn btn-primary" type="submit">Kaydet</button>

</form>