@model VisitorViewModel

@foreach (var item in ViewBag.visitorsViewModel as List<VisitorViewModel>)
{
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">@item.CreatedDate.ToShortDateString()</h6>
            <p class="card-text">@item.Comment</p>
            
        </div>
    </div>
}

<hr />

@if (TempData["Message"] != null)
{
    <div class="alert alert-dark" role="alert">
        @TempData["Message"]
    </div>
}

<form asp-controller="Home" asp-action="SaveVisitorComment" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Name">İsim</label>
        <input class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
        <div class="form-floating">
            <textarea class="form-control" style="height: 100px" placeholder="Buraya yorum yaz" asp-for="Comment"></textarea>
            <label class="form-control" asp-for="Comment">Yorum</label>
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>