

<div>
    <center>
    
        <h4>Giriş</h4>

        <input placeholder="Kullanıcı Adı">
        <br />
        
        <input placeholder="Şifre">
        <br /> <br />
        
        <button>Giriş Yap</button>
        <button>Şifremi unuttum!</button>
    
    </center>
</div>

